body{
    background-image: linear-gradient(to right, rgb(44, 39, 75) , rgb(40, 39, 92));
    font-family: cursive;
}

#container{
    margin-top: 200px;
    width: 400px;
    min-height: 200px;
    background-color: rgb(44, 39, 75);
    border: 1px solid rgb(165, 0, 0);
    margin-inline: auto;
    align-items: center;
    text-align: center;
}

.button{
    appearance: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, rgb(153, 153, 153) , rgb(209, 209, 209));
    outline: 1px solid white;
    color: black;
    font-family: cursive;
    height: 40px;
    width: 90px;
}

.button:hover{
    background-image: linear-gradient(to right, rgb(122, 0, 0) , rgb(190, 0, 0));
    outline: 1px solid red;
    color: white;
}

h1{
    margin-top: 30px;
    color: white;
}

input[type="text"]{
    appearance: none;
    border: none;
    padding-inline: 10px;
    height: 30px;
    color: white;
    background-color: rgb(40, 39, 92);
    border-bottom: 1px solid rgb(165, 0, 0);
    margin-top: 40px;
}

input[type="text"]:focus{
    outline: none;
}